.accordion li{
    list-style:none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background:#f1f1f1;
    box-shadow: 6px 6px 10px -1px rgb(71, 96, 136),
                -6px -6px 10px -1px rgb(175, 205, 255);
}