
/* Ayudame a que .login este en la parte izquieda de la pantalla debajo de un logo. Que este permanentemente en ese lugar centrado con un cuadro de fondo con bordes circulares*/
body{
    background-color: url(Recursos/Imagenes/);
}

.login{
    border: 2px solid;
    padding: 20px;
    width: 35%;
    height: auto;
    background-color: hsl(221, 62%, 80%);
    position:relative; /* Hacee falta conocer mas acerca de position, tal vez fixed*/
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
}


#img_InicioSesion{
    float: right;
    height: auto;
}

#img_Logo_Inicio{
    float:inline-start
}