.Logo{
    position: relative;
    left: 50%
}

.administracion{
    border: 2px solid;
    padding: 20px;
    width: 100px;
    height: auto;
    background-color: hsl(149, 52%, 53%);
    position:relative; /* Hacee falta conocer mas acerca de position, tal vez fixed*/
    text-align: center;
    top: 50%;
    left: 70px;
}

.I.Operacion{
    border: 2px solid;
    padding: 20px;
    width: 100px;
    height: auto;
    background-color: hsl(303, 73%, 67%);
    position:relative; /* Hacee falta conocer mas acerca de position, tal vez fixed*/
    text-align: center;
    top: 50%;
    left: 140px;
}